:root {
  --black-text-color: #212121;
  --white-color: #ffffff;
  --gray-color: #757575;
  --dark-color: #2f303a;
  --blue-color: #2196f3;
  --line-main-color: #e5e5e5;
  --light-gray-color: #f5f4f5;
  --logo-black-color: #000000;
  --bg-team-white-color: #f4f5fa;
  --light-gray-text-color: rgba(255, 255, 255, 0.6);
  --banner-background: rgba(47, 48, 58, 0.4);
  --grey-transparent-background: rgba(47, 48, 58, 0.8);
  --transition: color 250ms var(--cubic-bezier),
                background-color 250ms var(--cubic-bezier);
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --blue-transparent-background: #2196f3e6;
}
body {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: var(--white-color);
  color: var(--black-text-color);
}
header {
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.02em;
}
footer {
  font-size: 14px;
  letter-spacing: 0.03em;
  background: var(--dark-color);
  padding: 50px 0px 25px 0px;
}
.footer-wrapper {
  display: flex;
  justify-content: flex-start;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

h5 {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 3;
}
ul {
  list-style: none;
}
p {
  line-height: 1.8;
}
a {
  line-height: 2.2;
}
a:link {
  text-decoration: none;
  transition: var(--transition);
}

a:hover,
a:focus {
  color: var(--blue-color);
 
}

.wrapper {
  width: 1600px;
  margin: 0px auto;
}
.container {
  width: 1200px;
  margin: 0px auto;
}
* {
  margin: 0;
  padding: 0;
}
.header-box {
  border-bottom: 1px solid var(--line-main-color);
}
.group-nav {
  display: flex;
  padding-left: 93px;
}
.logo {
  font-family: "raleway", sans-serif;
  color: var(--blue-color);
  font-size: 26px;
  letter-spacing: 0.03em;
  padding-left: 215px;
}

.logo-black {
  color: var(--logo-black-color);
}
.logo-white {
  color: var(--white-color);
}
.logo:hover .logo-white,
.logo:hover .logo-black {
  color: var(--blue-color);
  transition: var(--transition);
}

.group-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0px 10px 0px;
}
.nav {
  font-style: medium;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--black-text-color);
  padding: 0px 46px 0px 0px;
}
.side-active {
  color: var(--blue-color); 
}
.nav-active::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 2px;
  bottom: 0;
  text-align: center;
  transition: opacity 250ms var(--cubic-bezier);
  opacity: 0;
}

.nav-active:hover:after,
.side-active::after {
  opacity: 1;
}

.contacts-position {
  padding-left: 250px;
}
.contact-space {
  padding-right: 50px;
}
.contacts {
  color: var(--gray-color);
}
.contacts:hover {
  color: var(--blue-color);
}
.title-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 617px;
  margin: 0 auto;
}
.title {
  text-align: center;
  background: var(--dark-color);
  background: url("../images/banner/banner.jpg") no-repeat 50% 50% / cover;
}
.banner-gradient {
  background-color: var(--banner-background);
  padding: 200px;
}

button {
  cursor: pointer;
}
.button-studio {
  text-align: center;
  margin-top: 30px;
  background: var(--blue-color);
  border: var(--blue-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--white-color);
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  padding: 10px 41px;
}
.button-studio:focus,
.button-studio:hover {
  color: var(--blue-color);
  background-color: var(--white-color);
  transition: var(--transition);
}

.our-strengths-text {
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.section-top {
  padding-top: 94px;
}
.section-bottom {
  padding-bottom: 94px;
}

.group-studio {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
  gap: 30px;
}

.our-job {
  position: relative;
}
.our-job img {
  float: left;
}

.our-job-background {
  position: absolute;
  color: var(--white-color);
  background-color: var(--grey-transparent-background);
  width: 100%;
  bottom: 0;
}
.our-job-background > p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 27px;
}

.group-buttons {
  display: flex;
  justify-content: center;
}

.section-team {
  background: var(--bg-team-white-color);
  width: 1600px;
}

.button-portfolio {
  font-style: medium;
  font-weight: 500;
  line-height: 1.39;
  background: var(--light-gray-color);
  border: var(--light-gray-color);
  border-radius: 4px;
  display: inline;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px 8px 34px 0px;
  padding: 6px 22px 6px 22px;
}
.button-portfolio:focus,
.button-portfolio:hover {
  background: var(--blue-color);
  color: var(--white-color);
  border: var(--blue-color);
  border-radius: 4px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: var(--transition);
}
.description-person {
  background: var(--light-gray-color);
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
}
.box-shadow-person {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-bottom: 30px;
}

.group-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.group-portfolio li:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.description-project {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 3.1;
  text-align: Left;
  vertical-align: Top;
  margin-top: 15px;
  margin-bottom: 30px;
  overflow: hidden;
  z-index: 2;
 
  
}
.description-project >p {
  padding-left: 24px;
  background: var(--white-color);
  position: relative;
  z-index: 2;  
}


.description-project-app {
  font-size: 16px;
  line-height: 2.5;
  color: var(--gray-color);
  padding-bottom: 20px;   
}
.description-project-hidden { 
  color: var(--white-color);
  background-color: var(--blue-transparent-background);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  position: absolute;
  margin: 0 auto;
  padding: 50px 25px 50px 20px; 
  transform: translateY(100%);
  transition: transform 250ms var(--cubic-bezier);
  z-index: 0;
}

.group-portfolio li:hover .description-project-hidden,
.group-portfolio li:focus .description-project-hidden {
  transform: translateY(0%);
}

.address {
  margin-left: 215px;
  padding-bottom: 30px;
}
.white-link {
  font-style: normal;
  color: var(--white-color);
}
.gray-link {
  font-style: normal;
  color: var(--light-gray-text-color);
}

.customers {
  display: flex;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
}
.customers svg {
  width: 106px;
  height: 60px;
}
.customers li {
  color: var(--gray-color);
}
.customers li:hover,
.customers li:focus {
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
  transition: var(--transition);
}
.customers-icon-box {
  box-sizing: border-box;
  width: 170px;
  height: 92px;
  border: 1px solid var(--gray-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.our-strengths-icon {
  margin-bottom: 30px;
  background-color: var(--light-gray-color);
  border-radius: 4px;
  text-align: center;
  padding: 25px 0px 25px 0px;
}
.our-strengths-icon svg {
  width: 70px;
  height: 70px;
  cursor: auto;
}

.social-icons-box {
  display: flex;
  justify-content: space-between;
  padding: 18px 32px 0px 32px;
}
.position-person,
.social-icons-person {
  color: var(--gray-color);
}

.social-icons-box li:focus,
.social-icons-box li:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
  transition: var(--transition);
}

.social-icons-box svg {
  width: 20px;
  height: 20px;
}
.social-icons-box li {
  border-radius: 50%;
  text-align: center;
  width: 44px;
  height: 44px;
  padding-top: 12px;
  cursor: pointer;
}

.footer-social-icons-box li:focus,
.footer-social-icons-box li:hover {
  background-color: var(--blue-color);
}
.footer-social-icons-box {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 300px;
  color: var(--white-color);
}

.footer-social-icons-box span {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
  padding-left: 50px;
}

.footer-social-icons-box li {
  background-color: var(--gray-color);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.close-btn svg {
  margin-top: 4px;
  width: 18px;
  height: 18px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
